*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 112, 52);

}

.header .LOGO {
    color: #131313;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

.header a span {
    color: rgb(253, 253, 252);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(250, 208, 184);
    box-shadow: black;
}

.header .navbar a {
    color: #0f0e0e;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500px;
    padding: 5px 10px;
    border-radius: 5px;

}
.activity-section i{
    color: #0f0e0e;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    background-color: antiquewhite;
    transition: 3s;
}
.btn{
    height: 40px;
    width: 100px;
    background-color: rgb(73, 10, 23);
    border-radius: 8px;
    border-color: rgb(73, 10, 23);
    color: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    font-weight: 600px;
}
.activity-section i:hover{
    background-color: antiquewhite;
    color: #ffffff;
}


